<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin">
	<select id="getTotalMember" resultType="long">
		SELECT count(member_id)
		FROM tbl_member
	</select>
	
	<select id="selectAll" resultType="memberVO">
		SELECT member_id, member_email, member_password, member_name, member_nickname, member_phonenumber, member_birth, member_status
		FROM tbl_member;
	</select>
		
</mapper>