<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">
	<select id="selectAllSearch" parameterType="map" resultType="boardDTO">
		select f.board_id , f.member_id, f.member_nickname ,  f.board_title
			, f.board_update_date, f.board_register_date , f.board_read_count ,
			ifnull(l.like_count, 0) board_like_count, r.reply_count board_reply_count
		from
		(
			select f.board_id , f.member_id, m.member_nickname ,  f.board_title
			, f.board_update_date, f.board_register_date , f.board_read_count 
			from tbl_board_saving f
			left outer join tbl_member m
			on f.member_id = m.member_id
			group by board_id
		) f
		left outer join 
		(
			select l.board_id, count(l.board_like_id) like_count
			from tbl_board_saving_like l
			group by l.board_id 
		) l
		on l.board_id = f.board_id 
		left outer join
		(
			select r.board_id, ifnull(count(r.reply_id),0) reply_count
			from tbl_board_saving_reply r
			group by r.board_id 
		) r
		on r.board_id = l.board_id 
		group by board_id
		order by board_id desc 
		limit #{startRow}, #{rowCount}
	</select>
	
	<select id="selectAll" resultType="boardDTO">
		select f.board_id , f.member_id, f.member_nickname ,  f.board_title, 
		f.board_update_date, f.board_register_date , f.board_read_count , 
		ifnull(l.like_count, 0) board_like_count, r.reply_count board_reply_count
		from
		(
			select f.board_id , f.member_id, m.member_nickname ,  f.board_title
			, f.board_update_date, f.board_register_date , f.board_read_count 
			from tbl_board_saving f
			left outer join tbl_member m
			on f.member_id = m.member_id
			group by board_id
		) f
		left outer join 
		(
			select l.board_id, count(l.board_like_id) like_count
			from tbl_board_saving_like l
			group by l.board_id 
		) l
		on l.board_id = f.board_id 
		left outer join
		(
			select r.board_id, ifnull(count(r.reply_id),0) reply_count
			from tbl_board_saving_reply r
			group by r.board_id 
		) r
		on r.board_id = l.board_id 
		group by board_id
		order by board_id desc 
		limit #{startRow}, #{rowCount}
	</select>
	
	<select id="getTotal" parameterType="map" resultType="long">
		select count(board_id) from tbl_board_saving
	</select>
	
	<select id="getReplyCount" parameterType="long" resultType="long">
		select reply_count
		from view_boardList
		where board_id = #{boardId}
	</select>
	
	<insert id="insertBoard" parameterType="map">
		INSERT INTO tbl_board_saving (member_id, board_title, board_content, board_register_date, board_update_date)
		VALUES(#{memberId}, #{title}, #{content}, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
	</insert>
	
	<!-- 답글 페이지 -->
<!-- 	<select id="answer">
		select m.member_img_path , m.member_nickname , s.answer_content  
		from tbl_member m
		left outer join tbl_saving_answer s
		on m.member_id = s.member_id;
	</select> -->
	
	<select id="answerImgPath">
		select member_img_path
		from tbl_member
	</select>
	<select id="answerNickname">
		select member_nickname
		from tbl_member
	</select>
	<select id="answerContent">
		select answer_content
		from tbl_saving_answer
	</select>
</mapper>

