<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="boardFree">
	<select id="selectAll" parameterType="map" resultType="boardFreeDTO">
		SELECT board_id, member_id, board_title, board_content, 
		board_register_date, board_update_date, board_like_count, board_read_count, 
		board_reply_count
		FROM tbl_board_free
		limit #{startRow}, #{rowCount}
	</select>
	<select id="selectAllList" resultType="boardFreeDTO">
		SELECT board_id, member_id, board_title, board_content, 
		board_register_date, board_update_date, board_read_count 
		FROM tbl_board_free
	</select>
	
	<select id="getTotal" resultType="long">
		select count(board_id) board_count from tbl_board_free
	</select>
	
	<select id="getReplyCount" parameterType="long" resultType="long">
		select reply_count
		from view_boardFreeList
		where board_id = #{boardId}
	
<!-- 		select count(reply_id) 
		from tbl_replyfree 
		where board_id = #{boardId} -->
	</select>
</mapper>