<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">
	<select id="selectAll" resultType="boardDTO">
		select board_id, member_id, board_title, board_content, board_register_date, board_update_date
		from tbl_board_saving
	</select>
	<!-- <select id="selectAllList">
		select b.board_id, b.board_title, b.board_content, b.board_register_date,
		b.board_update_date, b.member_nickname, b.board_like_count, b.board_read_count, reply_count
		from view_boardfreelist
		limit #{startRow}, #{rowCount}
	</select> -->
<!-- 	<select id="detail">
		select board_title, member_nickname, board_register_date, board_content,
		board_like_id, favorite_id, reply_id, reply_content, member_id, answer_id,
		answer_title, answer_content, answer_register_date, answer_update_date, answer_like_id
	</select> -->
	
<!-- 	<select id="getTotal" resultType="long">
		select count(board_id) board_count from tbl_boardfree
	</select> -->
	
<!--<select id="getReplyCount" parameterType="long" resultType="long">
		select reply_count
		from view_boardFreeList
		where board_id = #{boardId}
	
 		select count(reply_id) 
		from tbl_replyfree 
		where board_id = #{boardId} 
	</select>-->
	
	<select id="boardList" resultType="boardDTO">
		SELECT board_id, board_title, board_update_date, board_read_count, favorite_count, reply_count, like_count
		FROM goldenpig.view_board_list;
	</select>
</mapper>

