<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="like">
	<select id="isLikedBoardFree" parameterType="map" resultType="long">
		select like_id
		from tbl_board_free_like
		where member_id = #{memberId} and board_id = #{boardId}
	</select>
	
	<delete id="deleteLikeBoardFree" parameterType="map">
		DELETE FROM tbl_board_free_like
		WHERE member_id = #{memberId} and board_id = #{boardId}
	</delete>
	
	<insert id="insertLikeBoardFree" parameterType="map">
		INSERT INTO tbl_board_free_like
		(member_id, board_id)
		VALUES(#{memberId}, #{boardId})
	</insert>
	
	<select id="getLikeCountFreeByBoardId" parameterType="long" resultType="long">
		select count(like_id)
		from tbl_board_free_like
		where board_id = #{boardId}
	</select>
	
</mapper>
