<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

				<!-- 클래스 이름  -->
<mapper namespace="mypage">

	<!-- id => 메소드 이름이 -->
	
	<!--  마이페이지 사이드 조회  -->
	<select id="selectSide" parameterType="Long" resultType="mypageDTO">
		select member_id, member_nickname, member_img_name, member_img_path, member_greeting, saving_write_count, answer_write_count, board_like_count_total, answer_like_count_total, favorite_total
		from view_mypage_side where member_id= #{memberId}
	</select> 
	
	
	<!-- 저축 조회  -->
	<select id="selectMoney" parameterType="Long" resultType="moneyVO">
		select money_amount, money_target, money_register_date, money_expiry_date
		from tbl_money where member_id = #{memberId}
	</select>
	
	<!-- 모달 프로필 조회 -->
	<select id="selectModalProfile" parameterType="Long" resultType="moneyDTO">
		select member_nickname, member_img_name, member_img_path, member_greeting, money_amount, money_target, money_register_date, money_expiry_date
		from view_profile_modal where member_id =#{memberId}
	</select>	
	
	<!-- 모달 프로필 이미지 삭제  -->
	
	<!-- 모달 프로필 이미지 추가 -->
		
		
	<!-- 모달 프로필 멤버 정보 수정  -->
	<update id="updateModalProfile" parameterType="memberVO">
		update tbl_member
		set member_email=#{memberEmail}, member_password=#{memberPassword}, member_name=#{memberName}, member_nickname=#{memberNickName}, member_birth=#{memberBirth}, member_img_name=#{memberImgName}, member_img_path=#{memberImgPath}, member_greeting=#{memberGreeting}
		where member_id=#{memberId}
	</update>
	
	<!-- 모달 프로필 저축 목표 수정 -->	
	<update id="updateModalMoney" parameterType="moneyVO">
		update tbl_money
		set money_amount=#{moneyAmount}, money_target=#{moneyTarget}, money_register_date=#{moneyRegisterDate}, money_expiry_date=#{moneyExpiryDate}
		where member_id=#{memberId};
	</update>

	<!-- 질문 리스트 조회 -->
 	<select id="selectQuestions" parameterType="long" resultType="questionDTO">
		select board_id, member_id, board_title, board_content, board_register_date, member_nickname, member_img_path
		from view_qusetion_list where member_id = #{memberId}
	</select>
	
	<!-- 질문 조회 카운트 -->
	<select id="questionCount" parameterType="long"  resultType="long">
		select member_id, count(board_id) from tbl_board_saving where member_id = #{memberId} group by board_id
	</select>
	
	<!-- 답변 리스트 조회 -->
	<select id="selectAnswers" parameterType="long" resultType="savinganswerVO">
		select answer_id, board_id, member_id, answer_title, answer_content, answer_register_date, answer_update_date
		from tbl_saving_answer where member_id = #{memberId}
	</select>
	
	<!-- 질문 조회 카운트 -->

	<!-- 관심 질문 리스트 조회  -->
	<select id="selectScraps" parameterType="long" resultType="scrapDTO">
		select favoriting_member_id, favoriting_member_nickname, board_id, saving_member_id, saving_member_nickname, board_title, board_content, board_register_date, member_img
		from favorite_boards where favoriting_member_id = #{memberId}
	</select>
	
</mapper>

