<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="notice">
	<!-- 공지사항 전체 조회 -->
	<select id="selectAll" parameterType="map" resultType="noticeVO">
		select notice_id, notice_title, notice_content, notice_register_date, notice_update_date from tbl_notice
		limit #{startRow}, #{rowCount}
	</select>
	
	<!-- 페이징 처리 -->
	<select id="getTotal" resultType="long">
		select count(notice_id) from tbl_notice
	</select>
	
	<!-- 공지사항 상세보기 -->
	<select id="select" parameterType="long" resultType="noticeVO">
		select notice_id, notice_title, notice_content, notice_register_date, notice_update_date from tbl_notice
		where notice_id = #{noticeId}
	</select>
</mapper>
