@charset "UTF-8";

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Pdroject-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

:root {
    --swiper-navigation-size: 44px;
}

:root {
    --swiper-theme-color: #007aff;
}

.card {
	line-height: 10px;
}

body ::selection {
	background-color: #e8f0f9;
	text-shadow: none;
	/*  position: relative;width: 100%; height: 100%; */
	
}

/* .size-controll{
position: absolute;top: 50%;left: 50%;margin:-150px 0 0 -150px
} */
main {
	display: block;
}

/* 343 */
.icon-check:before {
	content: "\e5ca";
	display: none;
}

*, :after, :before {
	box-sizing: border-box;
	border: 0 solid #e3e3e3;
}

*, :after, :before {
	box-sizing: border-box;
}

.container:after, .container:before {
	content: " ";
	display: table;
}

.container:after {
	clear: both;
}

body {
	font-family: 'Pretendard-Regular';
	font-size: 1rem;
	line-height: 1.6;
	color: #333;
	min-height: 100%;
	position: relative;
}

/* 1068 */
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

/* 1471 */
html {
    /* font-size: 16px; */
    letter-spacing: -.1px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    height: 100%;
}

/* 1488 */
@media ( min-width : 768px) {
	body {
		font-family: "Pretendard", Helvetica, Arial, sans-serif;
	}
}

/* 72 */
[class*=" icon-"], [class^=icon-] {
	font-family: "aha-icon" !important;
	font-style: normal;
	font-weight: 400;
	font-feature-settings: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
/* 1068 */
html {
	/* line-height: 1.15; */
	-webkit-text-size-adjust: 100%;
}

/* 1097 */
a {
	background-color: transparent;
}

.card-body {
	padding-bottom: px;
}

/* 1140 */
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}


/* 1147 */
button, input {
	overflow: visible;
}

/* 1151 */
button, select {
	text-transform: none;
}
/* 1155 */
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}

/* 1227 */
button {
    background-color: transparent;
    background-image: none;
}

/* 1284 */
[role=button], button {
	cursor: pointer;
}

/* 1297 */
a {
	color: inherit;
	text-decoration: inherit;
}
/* 1302 */
button, input, optgroup, select, textarea {
	padding: 0;
	line-height: inherit;
	color: inherit;
}

/* 1471 */
html {
	font-size: 16px;
	letter-spacing: -.1px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	height: 100%;
}

/* 1488 */
@media ( min-width : 768px) {
	body {
		font-family: "Pretendard", Helvetica, Arial, sans-serif;
	}
}

/* 1493 */
button, input, select, textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

/* 1499  */
a {
	text-decoration: none;
}

/* 1531 */
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-family: inherit;
	font-weight: 500;
	line-height: 1.3;
	color: inherit;
}

/* 1151 */
button, select {
	text-transform: none;
}

/* 1553 */
.h4, .h5, .h6, h4, h5, h6 {
	margin-top: 12.5px;
	margin-bottom: 12.5px;
}
/* 1574 */
.h4, h4 {
	font-size: 20px;
}
/* 1598 */
.text-muted {
	color: #aaa;
}

/* 1656 */
.container {
	margin-right: 20px;
	margin-left: 559px;
	padding-left: 1rem;
	padding-right: 1rem;
}

/* 1673 */
@media ( min-width : 768px) {
	.container {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
		width: 734px;
	}
}
/* 1681 */
@media ( min-width : 992px) {
	.container {
		width: 60%;
	}
}

/* 1730 */
@media ( min-width : 768px) {
	.row {
		margin-left: -0.75rem;
		margin-right: -0.75rem;
	}
}

all-col {
	position: relative;
	min-height: 1px;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

@media ( min-width : 768px) {
	.container {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
		width: 734px;
	}
}

@media ( min-width : 992px) {
	.container {
		width: 100%;
	}
}

.row:after {
	clear: both;
}

.row:after, .row:before {
	content: " ";
	display: table;
}

/* 3769 */
button {
	border-radius: 3px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

/* 4927 */
.pull-left {
	float: left !important;
	
}
/* 4967 */
.word-spacing {
	padding: 0 4px;
}
/* 5234 */
button {
	background: none;
}

/* 5337  */
.card {
	width: 100%;
	padding: 1rem 1rem 13px;
	background-color: #fff;
	margin-bottom: 1px;
	position: relative;
}
/* 5355 */
.card .card-body {
	padding-bottom: 0.7rem;
	position: relative;
}

/* 5360 */
.card .card-body h1, .card .card-body h2, .card .card-body h3, .card .card-body h4,
	.card .card-body h5, .card .card-body h6 {
	margin: 0 0 1rem;
}

/* 5364 */
.card .card-body a {
	color: #333;
}
/* 5379 */
.card .cardFoot {
	position: absolute;
	bottom: 0;
	width: 100%;
	margin: 0;
	font-size: 14px;
}

/* 5398  */
@media ( min-width : 992px) {
	.card .cardFoot {
		font-size: 15px;
	}
}

.container {
	margin-top: 1rem;
	width: 930px;
    margin: 0 auto;
}

/* 8470  */
.tw-bg-white {
	background-color: #fff;
}

/* 8787 */
.tw-inline-block {
	display: inline-block;
	letter-spacing: 20px;
}

/* 9229 */
.tw-mt-10 {
	margin-top: 2.5rem;
	margin-top: 20px;
    margin-bottom: 90px;
}

/* 9717 */
.tw-text-white {
	-text-opacity: 1;
	color: #fff;
	color: rgba(255, 255, 255, var(- -text-opacity));
}

@media ( min-width : 768px) {
	.sm\:tw-hidden {
		display: none;
	}
}

/* 12034 */
.card {
	transition: transform .3s ease-in-out, opacity .2s ease-in-out,
		max-height .27s ease-in-out, padding .3s ease-in-out, margin .28s
		ease-in-out;
	max-height: 1000px;
}
/* 12043 */
.card .card-body a h3 {
	margin-bottom: 0.75rem;
	font-size: 1.125rem;
}
/* 12048 */
.card .cardFoot .date {
	font-size: .875rem;
}

/* 12052 */
.card-body {
	padding-bottom: 12px;
}

/* 12056 */
.card .label {
	border-radius: 8px;
	display: inline-block;
	padding: 4px 8px;
	margin-top: 1px;
	margin-right: 8px;
	background-color: #fbaf18;
	font-size: 13px;
	color: #fff;
	font-weight: 400;
}
/* 12076 */
.Pagination {
	font-size: .875rem;
	text-align: center;
	/* width: 50% */
}

.Pagination__nextLink, .Pagination__prevLink{
    --text-opacity: 1;
    color: #333;
    color: rgba(51,51,51,var(--text-opacity));
    vertical-align: middle;
}


/* 12106  */
.Pagination_pageLink.-active {
   color: #0206AF;
   border-color: #0206AF;
   border-width: 1px;
}

/*12096  */
.Pagination_pageLink { 
   color: #7D7D7D;
   vertical-align: middle;
    width: 26px;
    height: 26px;
    margin-right: 15px;
}


