@charset "UTF-8";
body{
	letter-spacing: -2px;
	position: relative;
	margin: 0;
	font-family: 'Pretendard-Regular';
}
#header{
	border-bottom-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgba(230, 230, 230, var(--tw-border-opacity));
    box-shadow: 0 1px 4px rgb(38 38 38 / 20%);
}
#header_div{
	padding-left: 0px;
    padding-right: 0px;
    max-width: 600px!important;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.a_headerLogo {
    width: 73px;
}

#wrap{
	max-width: 600px!important;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}
/* mediaquary 나중에 넣을꺼 */
#wrap{
	padding-left: 0px;
    padding-right: 0px;
}
h1{
	margin: 0px;
	display: block;
	padding-top: 28px;
	padding-bottom: 20px;
	font-size: 24px;
	line-height: 2rem;
	font-weight: 700;
}
/* mediaquary 나중에 넣을꺼 */
h1 {
	padding-top: 52px;
    font-size: 28px;
}
h2{
	margin-bottom: 0.75rem;
	font-size: 1.25rem;
	line-height: 1.75rem;
}
.board{
	border-radius: 10px;
    border-width: 1px;
    --tw-border-opacity: 1;
    padding: 1.25rem;
    border: solid;
    border-width: 2px;
    border-color: rgba(230, 230, 230, var(--tw-border-opacity));
}
/* mediaquary 나중에 넣을꺼 */
.board{
	padding: 20px 80px;
}
.board_name{
	margin-bottom: 0.5rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
	font-weight: 700;
}
#kakao_board{
	display: flex;
    align-items: center;
	border-radius: 10px;
    --tw-bg-opacity: 1;
    background-color: rgba(245, 245, 245, var(--tw-bg-opacity));
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
}
.change_button{
	width: auto;
    flex-shrink: 0;
    white-space: nowrap;
    padding-left: 2rem;
    padding-right: 2rem;
    cursor: pointer;
}

button.all_button{
	font-size: 1rem;
    line-height: 1.5rem;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border-width: 1px;
    font-weight: 500;
    background-color: white;
    cursor: pointer;
}
#password-button{
	--tw-border-opacity: 1;
	border-color: rgba(86, 130, 239, var(--tw-border-opacity));
	--tw-text-opacity: 1;
	color: rgba(2, 6, 175, var(--tw-text-opacity));
	font-size: 1rem; 
	line-height: 1.5rem; 
	height: 48px; 
	margin-right: 0.25rem;
	width: 296px;
	cursor: pointer;
}
#log_out{
	border-color: transparent;
    --tw-bg-opacity: 1;
    background-color: rgba(2, 6, 175, var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
    font-size: 1rem;
    line-height: 1.5rem;
    height: 48px;
    width: 296px;
    cursor: pointer;
}
a{
	--tw-text-opacity: 1;
    color: rgba(182, 190, 204, var(--tw-text-opacity));
    font-size: 0.875rem;
    line-height: 1.25rem;
    align-items: center;
    display: inline-flex;
    text-decoration: inherit;
    position: relative;
}


@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


input, button, span{
	font-family: 'Pretendard-Regular';
}

.modal-input {
	height: 30px; 
	outline: none; 
	border-top: none;
	border-right: none;
	border-left: none; 
	border-color: rgb(230,230,230);
}

#modal {
    position: fixed;
	width: 100%;
	display: none;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.2);
	z-index: 1000;
}

#modal2 {
	position: fixed;
	width: 100%;
	display: none;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.2);
	z-index: 1000;
}

.modal-box {
	width: 300px;
	background: #fff;
   	margin: 184px auto;
    border-radius: 10px;
}

.modal-box-layout {
	padding: 20px;
}

.modal-title {
	font-size: 23px; 
	display: inline-block;
}

.modal-exit-box {
	cursor : pointer;
    padding-top: 23px;
}

.modal-input-box {
	position: relative;
	width: 100%;
}

.modal-input-box span {
    letter-spacing: 0px;
    padding-left: 2px;
	font-size: 14px;
}

.modal-input-box-layout {
	margin-bottom: 20px;
}

.modal-input {
	width: 100%;
	font-size: 16px;
}

.certification-button {
	position: absolute;
    right: 0;
    top: 7px;
    border: none;
    background: none;
    color: #b1b1b1;
    font-size: 15px;
    cursor: pointer;
}

.modal-title-box {
	display: flex;
	justify-content: space-between;
}

.modal-confirm-button-box {
	width: 100%;
}

.modal-confirm-button-box-layout {
	text-align: center;
}

.modal-confirm-button {
	width: 100%;
    height: 35px;
    border: none;
    border-radius: 8px;
    background-color:#2010A7 ;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.certificationNumber-checkbox {
	display: none;
}

.certification-number {
	display: none;
}

#modal-phone {
    position: fixed;
	width: 100%;
	display: none;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.2);
	z-index: 1000;	
}

.modal-phone-box {
	position: fixed;
    width: 600px;
    border: none;
    background-color: #fff;
    top: 35%;
    left: 30.5%;

}

.modal-phone-box-layout {
	text-align: center;
	padding: 20px;
	letter-spacing: 1px;
}

.modal-phone-button-box {
	margin-top: 20px;
}

.modal-phone-button {
	width: 100px;
	height: 35px;
    border: none;
    background-color:#2010A7 ;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.modal-phoneCheck-button {
	width: 100px;
	height: 35px;
    border: none;
    background-color:#2010A7 ;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;	
}



