<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.goldenPig.member.domain.MemberVO" alias="memberVO"/>
		<typeAlias type="com.goldenPig.notice.domain.NoticeVO" alias="noticeVO"/>
		<typeAlias type="com.goldenPig.banner.domain.BannerVO" alias="bannerVO"/>
		<typeAlias type="com.goldenPig.board.domain.BoardVO" alias="boardVO"/>
		<typeAlias type="com.goldenPig.boardFree.domain.BoardFreeVO" alias="boardFreeVO"/>
		<typeAlias type="com.goldenPig.boardFree.domain.BoardFreeDTO" alias="boardFreeDTO"/>
		<typeAlias type="com.goldenPig.reply.domain.ReplyVO" alias="replyVO"/>
	</typeAliases>
		
	<environments default="mysql">
		<environment id="mysql">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.cj.jdbc.Driver"/>
				<property name="url" value="jdbc:mysql://localhost:3306/goldenPig"/>
				<property name="username" value="root"/>
				<property name="password" value="1234"/>
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
      <mapper resource="com/goldenPig/mybatis/mapper/bannerMapper.xml"/>
      <mapper resource="com/goldenPig/mybatis/mapper/boardImgMapper.xml"/>
      <mapper resource="com/goldenPig/mybatis/mapper/boardMapper.xml"/>
      <mapper resource="com/goldenPig/mybatis/mapper/boardFreeImgMapper.xml"/>
      <mapper resource="com/goldenPig/mybatis/mapper/boardFreeMapper.xml"/>
      <mapper resource="com/goldenPig/mybatis/mapper/likeMapper.xml"/>
      <mapper resource="com/goldenPig/mybatis/mapper/memberImgMapper.xml"/>
      <mapper resource="com/goldenPig/mybatis/mapper/memberMapper.xml"/>
      <mapper resource="com/goldenPig/mybatis/mapper/noticeMapper.xml"/>
      <mapper resource="com/goldenPig/mybatis/mapper/replyMapper.xml"/>
      <mapper resource="com/goldenPig/mybatis/mapper/savingMapper.xml"/>
      <mapper resource="com/goldenPig/mybatis/mapper/tagMapper.xml"/>
      <mapper resource="com/goldenPig/mybatis/mapper/mypageMapper.xml"/>
   </mappers>
	
</configuration>















