@charset "UTF-8";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
	color: #333;
	font-family: 'Pretendard-Regular';
}

body {
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
    background: #fafafa;
}

.page-container {
	width: 800px;
	margin: 0 auto;
}

.container {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.header {
	position: relative;
}

.header label {
    position: absolute;
    font-size: .75rem;
    font-weight: 500;
    color: #858D9A;
    left: 18px;
    top: 10px;
}

#category-select {
	width: 100%;
	border-radius: 8px;
    border-width: 1px;
    appearance: none;
    padding-left: 1rem;
    padding-right: 1.25rem;
    padding-top: 22px;
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    height: 70px;
    border: 1px solid #e3e3e3;
    font-weight: 700;
}

.arrow-icon {
    position: absolute;
    top: 22px;
    right: 13px;
}

.arrow-icon img {
   	width: 30px;
    height: 30px;
   	cursor: pointer;
}

.card {
   	padding-left: 1rem;
    padding-right: 1rem;
    border: 1px solid #e3e3e3;
    border-radius: 12px;
    background: #ffffff;
}

.question-title-container {
	border-bottom: 1px solid #f3f5f9;
}

.question-title {
	padding-top: 1rem;
    padding-bottom: 1rem;
}

.text-primary {
    color: #0206af;
    font-size: 30px;
    font-weight: 600;
}

.flex input {
    margin-left: 0.25rem;
    width: 85%;
    height: 32px;
    border-style: none;
    outline: none;
    font-size: 20px;
}

.flex input::placeholder {
	color: #b6becc;
	font-size: 1.2rem;
	font-weight: 700;
	font-family: 'Pretendard-Regular';
}

.title-number-check {
	color: #b6becc;
	font-size: .95rem;	
}

.question-padding {
    padding-top: 1rem;
}

.question-padding input {
	width: 100%;
	height: 260px;
	border-style: none;
   	outline: none;
}

textarea {
	width: 97%;
	height: 260px;
	resize: none;
	outline: none;
	border: 0;
	padding: 12px;
	font-size: 16px;
}

textarea::placeholder {
	color: #b6becc;
	font-size: 16px;
}

.question-padding input::placeholder {
	color: #b6becc;
	font-size: 1.2rem;
	font-family: 'Pretendard-Regular';
}

.form-footer {
	margin-top: 1rem;
}

.form-footer input {
	width: 100%;
	height: 56px;
	border-radius: 12px;
	border-style: none;
	color: #fff;
    background-color: #0206af;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}



