@charset "UTF-8";

* {
	border: 0px solid #e3e3e3;
	color: #333;
	font-family: 'Pretendard-Regular';
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

li {
	list-style: none;
}

body {
	margin: 0;
	padding: 0;
	font-size: 1rem;
	line-height: 1.6;
	position: relative;
	background: #fafafa;
}

.wrap {
    padding-top: 70px;
    padding-bottom: 90px;
}

.body-flex {
	display: flex;	
}

#content {
	position: relative;
}

.content-wrap {
	width: 888px;
	margin: 0 auto;
}

.tabs-wrap {
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0.5rem;
	margin-bottom: 0.75rem;
}

.tabs {
	width: auto;
}

.active {
	font-weight : 500;
}

.bullet {
    display: inline-block;
}

.transparent-line {
	border-bottom: 3px solid tranparent;
}

.blue-line {
	border-bottom: 3px solid #2553e5;
	width: auto;
	margin-left: 12px;
}

.color-989898 {
	color: #989898;
}

.tabs-line {
	background: #2553e5;
	height: 3px;	
}

.card {
	padding: 1rem 1.25rem;
	margin-bottom: 10px;
	border: 1px solid #edf0f2;
	background: #ffffff;
	border-radius: 8px;
}

.card-main {
	display: flex;
	flex-direction: column;
}

.card-header {
	padding-bottom: 0.25rem;
}

.card-header a {
	text-decoration: none;
}

.card-header a h1 {
	font-size: 1.125rem;
	font-weight: 400;
}

.flex-justify-between {
	display: flex;
	justify-content: space-between;
}

.flex-items-center {
	display: flex;
	justify-content: center;
}

.card-label-icon {
	text-align: center;
	color: #B6BECC;
	margin-right: 13px;
    position: relative;
}

.card-label-icon img {
	width: 18px;
	height: 18px;
	margin-right: 2px;
}

.card-label-icon span {
	color: #B6BECC;
	color: #B6BECC;
    position: absolute;
    top: -3px;
    left: 21px;
}

.card-label-icon .star {
	margin-right: 2px;
	width: 18px;
	height: 18px;
	filter: invert(94%) sepia(2%) saturate(6487%) hue-rotate(183deg) brightness(96%) contrast(65%);
	color: #B6BECC;
}

.card-label-icon span {
	color: #B6BECC;
}

.card-label-icon .heart {
	margin-right: 2px;
	width: 18px;
	height: 18px;
	filter: invert(94%) sepia(2%) saturate(6487%) hue-rotate(183deg) brightness(96%) contrast(65%);
}

.card-label-icon span {
	color: #B6BECC;
}

.card-header-infomation {
	color: #B6BECC;
}

.right-side-bar {
	float: right;
	display: flex;
    height: 3rem;
    background: #22252b;
    border-radius: 8px;
    text-align: center;
}

.write-board {
	margin: auto 0;
	display: inline-block;
	width: 285px;
    font-size: 1rem;
    font-weight: 700;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
}




