@charset "UTF-8";

.container {
	width: 100%;
	margin-left: 300px;
}

tr {
	border-bottom: 0.5px solid #ca3e47;
	line-height: 50px;
}

table th, table td {
	text-align: left;
	font-size: 20px;
	padding-left: 10px;
}

table td {
	font-weight: 300;
}

table {
	width: 100%;
	border-collapse: collapse
}

.board-info-box-layout {
	margin: 20px;
}

.board-info-box {
	border: 0.0625rem solid #f2f2f2;
	border-radius: 10px;
	background: #fff;
}

.info-title-box {
	width: 100%;
	height: 54px;
	background: #ca3e47;
}

.info-table {
	margin: 0 auto;
	padding: 20px;
}

.board-info-title-box {
	padding: 20px 27px 0;
}

.board-info-title-box {
	font-size: 30px;
	font-weight: bold;
}