@charset "EUC-KR";
@font-face {
	font-family: 'Pretendard-Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
		format('woff');
	font-weight: 400;
	font-style: normal;
}

body {
    font-family: "Pretendard",Helvetica,Arial,sans-serif;
	background-color: #f8f8f8;
    text-shadow: none;
}

container.wrapper {
	padding-top: 60px !important;
}

header.header {
	height: 60px;
}

main {
	padding-top: 20px;
	padding-bottom: 60px;
}

.banner {
	height: 250px;
	position: relative;
}

.home-container {
	position: relative;
	z-index: 10;
	margin-top: -1rem;
	width: 925px;
	margin: 0 auto;
	color: #333;
	background-color: #e8f0f9;
}

.home-buttons {
	border-radius: 12px;
	display: flex;
	justify-content: space-around;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	background-color: #fff;
	background-color: rgba(255, 255, 255, var(- -bg-opacity));
	box-shadow: 0 1px 4px rgb(38 38 38/ 20%);
}

.home-buttons {
	height: 78px;
	width: 925px;
	position: relative;
}
div.home-button-wrapper {
	padding: 0;
	margin: 0;
}

div.home-button-wrapper a button {
	position: relative;
}

.home-buttons div a button {
	height: 30px;
	/* position: absolute; */
	display: flex;
}

.home-buttons div a button svg{
	position: absolute; 
	left: 0;
	top: 0;
	height: 30px;
	width: 30px;
	display: inline-block;
	margin: 0 16px 0 0;
}

.home-buttons div a button span {
	vertical-align: top;
	font-size: 1.125rem;
	font-weight: 500;
    display: inline-block;
    box-sizing: border-box;
}
.home-buttons div a {
	display: block;
}

.home-buttons div a button {
	align-items: flex-start;
	appearance: none;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	background-origin: padding-box;
	background-position: 0%;
	display: inline-block;
	border: none;
	width: 231.21px;
	padding: 0px;
}

button, input, select, textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

.isflex {
	display: flex;
}

.expert-section-wrapper{
	padding-left: 0;
    padding-right: 0;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    max-width: 925px;
}

.home-section {
	margin: 0;
	margin-top: 40px;
}

.home-section-title {
	padding-top: 1.25rem;
	margin-top: 12.5px;
	margin-bottom: 18px; 
	font-weight: 700;
	font-size: 20px;
	line-height: 1.3;
	display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.home-section-subtitle {
	margin: 0;
	margin-top: -12px;
	margin-bottom: 1.25rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.3;
    color: #a9afb3;
}
.home-section-categoryCards-wrapper {
	text-align: center;
}

.home-section-categoryCard {
	height: 150px;
	padding: 0.5rem;
    box-sizing: border-box;
}

.home-section-categoryCard div {
	height: 134px;
    border: 1px solid #e3e3e3;
   	background-color: white;
   	border-radius: 8px;
}

.categoryCard img{
	width: 40px;
	height: 40px;
}

.home-section-categoryCard div div {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.home-section-categoryCard div div a img{
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.membership-desktop-img {
	width: 560px;
	height: 100px;
}
