@charset "UTF-8";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Pdroject-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* @media (min-width: 768px) */
body, textarea {
    font-family: "Pretendard",Helvetica,Arial,sans-serif;
}

*, :after, :before {
    box-sizing: border-box;
}

*, :after, :before {
    box-sizing: border-box;
    border: 0 solid #e3e3e3;
}

div {
    display: block;
}

input {
	outline: none;	
}

fieldset, ol, ul {
    margin: 0;
    padding: 0;
}

ol, ul {
    list-style: none;
}

ol, ul {
    margin-top: 0;
}

ul {
    list-style-type: disc;
}


/* profile page */
.layout  {
    margin-top: 0;
    transition: margin-top .25s cubic-bezier(.77,.2,.05,1);
    padding-top: 90px;
}

.layout {
	padding-top: 60px;
}

.profile_page {
	min-height: calc(100vh - 200px)!important;
}


.profile_Header {
	background-image: url(https://www.a-ha.io/_nuxt/img/cover_image_default.a164275.png);
}

.profile_Header {
	position: relative;
    background-position: 50%;
    background-size: cover;
    height: 100px;
    overflow: hidden;
    background-color: #e8f0f9;
}

.profile_Header {
	height: 210px;
}

.header_container_button{
	font-weight: 400;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 8px;
    transition-property: all;
    transition-duration: .2s;
    background-color: #fff;
    background-color: rgba(255,255,255,var(--bg-opacity));
    --border-opacity: 1;
    border: 1px solid #eee;
    border-color: rgba(238,238,238,var(--border-opacity));
    height: 35px;
}

.header_container{
	position: relative;
    height: 100%;
    padding: 0.5rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.header_container{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    max-width: 1500px;
}

.header_container{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.header_container{
    padding: 1.25rem 1.5rem;
    align-items: flex-end;
}


.header_container_button{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-weight: 500;
}

.header_container_button{
	padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.header_container_button{
    font-size: 1rem;
	height: 35px;
}

button {
    background: none;
}

.header_container_button ,.-dark {
	--text-opacity: 1;
    color: #fff;
    color: rgba(255,255,255,var(--text-opacity));
    border-color: transparent;
    background-color: rgba(0,0,0,.5);
}

.-primary {
	--bg-opacity: 1;
    background-color: #0206af;
    background-color: rgba(2,6,175,var(--bg-opacity));
    --text-opacity: 1;
    color: #fff;
    color: rgba(255,255,255,var(--text-opacity));
    --border-opacity: 1;
    border-color: #0206af;
    border-color: rgba(2,6,175,var(--border-opacity));
}

.buttonShare {
	font-size: 1.125rem;
    --bg-opacity: 1;
    background-color: #f5f5f5;
    background-color: rgba(245,245,245,var(--bg-opacity));
    --text-opacity: 1;
    color: #7d7d7d;
    color: rgba(125,125,125,var(--text-opacity));
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}
.header_container_button {
	font-weight: 500;
}

/* .header_container_button {
position: absolute;
} */

.header_container_button {
	padding-left: 1.25rem;
    padding-right: 1.25rem;
}

	
svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}

.-dark{
	opacity: 0;
    top: 1.25rem;
    left: 1.5rem;
    transition: opacity .3s ease-in;
    height: 32px;
}

.header_container_button svg{
	margin-right: 0.25rem;
    vertical-align: sub;
}
	
.header_container_button svg{
	margin-right: 0.5rem;
    width: 1.25rem;
    height: 1.25rem;
}

.-primary {
	margin-left: 1rem;
}

.buttonShare {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.buttonShare {
	margin-left: 1rem;
}

[class*=" icon-"], [class^=icon-] {
    font-family: "aha-icon"!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-feature-settings: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.icon-share-fill:before {
    content: "\e920";
}




/* nav */
.profile_tabs {
	--bg-opacity: 1;
    background-color: #fff;
    background-color: rgba(255,255,255,var(--bg-opacity));
    border-top-width: 1px;
    border-bottom-width: 1px;
	display: block;
	padding: 11px 0px 10px;
    
}

.profile_tabs {
	border-top-width: 0;
}

.profile_tabs_container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.profile_tabs_container{
	display: flex;
    max-width: 1500px;
}

.profile_tabs_container{
	padding-left: calc(360px + 3.5rem);
}

ui {
	white-space: normal;
	margin: 0;
    white-space: nowrap;
    overflow: auto;
    list-style-type: disc;
	margin: 0;
    padding: 0;
}

.profile_tabsItem {
	display: inline-block;
    padding-left: 1rem;
    padding-right: 1rem;
    list-style-type: none;
    display: inline-block;
    padding-left: 1rem;
    padding-right: 1rem;
}

.profile_tabsItem a {
	font-size: 1.125rem;
    padding-top: 23px;
    padding-bottom: 15px;
    display: inline-block;
    color: #989898;
    padding-top: 13px;
    padding-bottom: 12px;
    text-decoration: none;
}

.profile_tabs_container .profile_tabsItem .myProfile_Index{
	font-weight: 700;
    color: black!important;
}


/* section */
.ptofile_section {
	display: flex;
    max-width: 1500px;
    width: 100%;
}

.profile_aside {
	width: 360px;
	background-color: #fafafa;
    margin-left: 35px;
}

.aside_user {
	margin-bottom: 2rem;
    padding: 20px 15px 15px;
    border-radius: 30px;
    --bg-opacity: 1;
    background-color: #fff;
    background-color: rgba(255,255,255,var(--bg-opacity));
    position: relative;
    text-align: center;
    z-index: 200;
    margin-top: -10rem;
	box-shadow: 0 0 15px 0 rgb(0 0 0 / 7%)
}

.aside_user_img {
	align-items: center;
	flex-direction: column;
	display: flex;
	height: 129.6px;
    width: 330px;
}

.aside_user_img_div {
    --bg-opacity: 1;
    background-color: #fff;
    background-color: rgba(255,255,255,var(--bg-opacity));
    position: relative;
}

.aside_user_img_div {
    border-radius: 9999px;
    border-width: 1px;
    display: inline-block;
    margin-top: 0.5rem;
    padding: 5px;
    z-index: 1;
}

.aside_user_img_div_span {
	background-image: url(https://www.a-ha.io/_nuxt/img/default_profile.f2e66ea.svg);
	width: 110px!important;
    height: 110px!important;
	display: inline-block;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    vertical-align: middle;
}

.aside_user_img_div_div{
	isplay: flex;
    border-radius: 9999px;
    opacity: 0;
    position: absolute;
    --text-opacity: 1;
    color: #fff;
    color: rgba(255,255,255,var(--text-opacity));
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    background-color: rgba(0,0,0,.7);
    width: 110px;
    height: 110px;
    top: 5px;
    left: 5px;
    z-index: 3;
    opacity: 0;
    transition: opacity .1s ease-in;
}

.aside_user_img_div_div svg {
	width: 30px;
    height: 27px;
}
.aside_user_img_div_button {
	display: none;
	--text-opacity: 1;
    color: #fff;
    color: rgba(255,255,255,var(--text-opacity));
    --bg-opacity: 1;
    background-color: #333;
    background-color: rgba(51,51,51,var(--bg-opacity));
    border-radius: 9999px;
    position: absolute;
    right: 3px;
    bottom: 1px;
    padding: 7px 6px;
    background: none;
}

.aside_user_img_div_button svg {
	display: block;
    width: 11px;
    height: 9px;
}



.aside_user_nickname {
	margin-top: 0.5rem;
    font-size: 1.25rem;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    display: flex;
}

.aside_user_nickname span {
	vertical-align: middle;
}

.aside_user_body {
	display: block;
    margin-top: 1.25rem;
    
}

.aside_user_status {
	padding: 1rem 1rem 1.5rem;
    border-radius: 8px;
    background: #fafafa;
}

.aside_user_status h5 {
	text-align: left;
	margin-bottom: 1rem;
	margin-top: 0;
	font-weight: 700;
	font-size: 16px;
	
}

.profile_user_status_item {
	display: flex;
    justify-content: space-between;
    height: 25.6px;
}

.profile_user_status_item:nth-child(3) {
    margin-top: 1rem;
}
.profile_user_status_item:nth-child(4) {
    margin-top: 1rem;
}
.profile_user_status_item:nth-child(5) {
    margin-top: 1rem;
}

.profile_user_status_item_span {
    --text-opacity: 1;
    color: #989898;
    color: rgba(152,152,152,var(--text-opacity));
	align-items: center;
	display: flex;
}

.profile_user_status_item_span:nth_child(2){
	font-weight: 500;
}

.profile_user_status_item_span svg {
	width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
}

svg {
	display: inline;
}

audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    vertical-align: middle;
}

.profile_main {
	padding-left: 2rem;
    width: calc(100% - 360px);
    width: 100%;
    ckground-color: #fafafa;
}


.profile_Index {
	padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    ckground-color: #fafafa;
}

.profile_Answers {
	padding-top: 2rem;
    padding-bottom: 2rem;
}

.profile_margin {
	margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

.profileC_Questions {
    padding-top: 2rem;
    padding-bottom: 2rem;
}


.profile_Scraps {
	padding-top: 2rem;
    padding-bottom: 2rem;
}

.profile_main_body{
	padding-left: 1rem;
	width: 100%;
}

.profile_Card{
	border-width: 0;
    background-color: transparent;
    margin-bottom: 2.5rem;
	--bg-opacity: 1;
}

.profile_Card_Title {
	font-size: 20px;
    border-width: 0;
    padding-left: 0;
    padding-right: 0;
    font-weight: 700;
    margin: 0;
    padding: 0.75rem 1rem;
}

.profile_Card_Content{
	padding: 1.5rem;
	--bg-opacity: 1;
    background-color: #fff;
    background-color: rgba(255,255,255,var(--bg-opacity));
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 7%);
    border-radius: 20px;
}

.profile_Card_Content_noItem {
    display: flex;
    --text-opacity: 1;
    color: #7d7d7d;
    color: rgba(125,125,125,var(--text-opacity));
}	

.profile_Card_Content_noItem_Inner {
    display: flex;
    align-items: center;
}

.profile_Card_Content_noItem_Inner svg {
	width: 32px;
    height: 32px;
}

.profile_Card_Content_noItem_Inner_span {
	margin-left: 0.5rem;
    white-space: nowrap;
}





/*  *//*  *//*  */
.profile_Editor {
	position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1001;
}

.a-modal .scroll.-open {
	position: relative;
    overflow-y: auto;	
}

.a-modal .scroll.-open {
    height: 100vh;
    padding-bottom: 2.5rem;
}

.a-modal_inner {
	position: relative;
    --bg-opacity: 1;
    background-color: #fff;
    background-color: rgba(255,255,255,var(--bg-opacity));
    border-radius: 12px;
    padding: 0;
    margin: auto auto 2.5rem;
    width: 750px;
    max-width: 90%;
    top: 35px;
    z-index: 1200;
}

.a-modal_inner {
	width: 700px;
}

.a-modal_innerBody {
	padding: 1rem 2rem 2.5rem;
	border-radius: 12px;
}

.close_button {
	background: none;
}
.close_button {
	position: absolute;
    right: 48px;
    top: 40px;
}
.close_button {
	    display: none;
}

.sprite-icons {
	width: 1rem;
    height: 1rem;
    display: inline;
}

.a-model_inner_header {
	position: relative;
    width: auto;
    text-align: center;
    border-bottom: 1px solid #e3e3e3;
    margin-left: -32px;
    margin-right: -32px;
    padding-bottom: 14px;
	display: block;
}

.a-model_inner_header span {
	font-size: 1.125rem;
	font-weight: 500;
}

.a-model_inner_header_button {
	position: absolute;
    right: 22px;
}

.a-model_profile_box {
	padding: 2rem 0;
}

.row {
	margin-left: -0.75rem;
    margin-right: -0.75rem;
}

.row:after, .row:before {
    content: " ";
    display: table;
}

.a-model_profile_image_box {
	text-align: center;	
}

.tw-mb-5 {
	margin-bottom: 1.25rem;
}

.a-model_profile_image_span {
	display: inline-block;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    vertical-align: middle;
}

.a-model_profile_image_span {
	width: 120px!important;
    height: 120px!important;
}

.a-model_profile_image_span {
	background-image: url(https://www.a-ha.io/_nuxt/img/default_profile.f2e66ea.svg);
}

.a-model_profile_image_cropper_button {
	width: 100%;
    --text-opacity: 1;
    color: #fff;
    color: rgba(255,255,255,var(--text-opacity));
    font-weight: 500;
    max-width: 200px; 
    border-radius: 8px; 
}

.a-model_profile_image_cropper_button {
    height: 48px;
}

.a-model_profile_image_cropper_button {
	--text-opacity: 1;
    color: #0f27d1;
    color: rgba(15,39,209,var(--text-opacity));
    --bg-opacity: 1;
    background-color: #e8f0f9;
    background-color: rgba(232,240,249,var(--bg-opacity));
}
.a-model_profile_image_cropper_button {
	margin-top: 1rem;
}

.a-model_profile_text {
	
	text-align: center;
	padding: 0;
	width: 100%;
    max-width: 734px;
    margin: 0 auto;
}

.a-model_profile_text {
	margin-top: 1.25rem;
	}

.a-model_profile_text_medium {
    font-weight: 500;
}

.a-model_profile_text_medium {
	color: rgb(20, 129, 227);
    word-break: keep-all;
}

.a-model_profile_text_medium_span1 {
	font-weight: 700;
}

.a-model_profile_text_medium_span2 {
	position: relative;
	font-size: 1rem;
	font-weight: 500;
    display: inline-block;     
    margin-top: 5px;
}

.a-modal_profile_icon_left {
	position: absolute;
    top: -45px;
    left: -132px;
}

.a-modal_profile_icon_right {
	position: absolute;
	top: -45px;
	right: -130px;
}

.user_info_box {
	padding: 3rem 1rem;
}

.gray_box {
	padding: 1.5rem;
    border-radius: 12px;
    --bg-opacity: 1;
    background-color: #f9fafc;
    background-color: rgba(249,250,252,var(--bg-opacity));
}

.gray_box_title {
	font-weight: 500;
    font-size: .875rem;
    color: #292a2b;
    padding-bottom: 5px;
}

.gray_box_title {
	font-weight: 500;
    font-size: .875rem;
    color: #292a2b;
}

.gray_box_description {
	font-weight: 500;
    font-size: 1.125rem;
    margin-top: 0.25rem;
    color: #1c1a18;
}

.div_relative {
	position: relative;
}

input {
    margin: 0;
} 

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    padding: 0;
    line-height: inherit;
    color: inherit;
}

input, textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    box-shadow: none;
}

.body .editor__content, body input, body textarea {
    caret-color: #0206af;
}

.enroll_Input {
    width: 100%;
    padding-bottom: 0.5rem;
    margin-bottom: 0.75rem;
    font-size: 1.125rem;
    font-weight: 500;
    border-bottom-width: 1px;
    --border-opacity: 1;
    border-color: #e0e6f0;
    border-color: rgba(224,230,240,var(--border-opacity));
    padding-right: 64px;
    background: inherit;
    border-radius: 0;
}

.available_length {
	position: absolute;
    font-weight: 500;
    font-size: .875rem;
    right: 0;
    top: 4px;	
}

.available_length {
	--text-opacity: 1;
    color: #b6becc;
    color: rgba(182,190,204,var(--text-opacity));
}

.description {
	font-size: .875rem;
    font-weight: 400;
    align-items: center;
    --text-opacity: 1;
    color: #b6becc;
    color: rgba(182,190,204,var(--text-opacity));
	display:inline-block;
}

.description img{
	display: inline;
}

.icons {
	width: 1rem;
    height: 1rem;
}


.info_alet {
    --text-opacity: 1;
    color: #b6becc;
    color: rgba(182,190,204,var(--text-opacity));
	margin-right: 0.25rem;
	
}

.info_alet {
	position: relative;
    border-radius: 24px;
    bottom: 1px;
	margin-bottom: 3px;
}


.gray_box_Input {
	padding: 10px;
	border: 1px solid #5682ef;
    color: #0206af;
    background: #fff;
    height: 48px;
    width: 100%;
	--text-opacity: 1;
	font-weight: 500;
	border-radius: 8px;
}

.enroll_Textarea_Wrapper {
    position: relative;
    padding: 1rem;
    border-radius: 8px;
    border-width: 1px;
    --border-opacity: 1;
    border-color: #e0e6f0;
    border-color: rgba(224,230,240,var(--border-opacity));
    padding-bottom: 30px;
    background: #fff;
    resize: none;
}

.enroll_Textarea {
	width: 100%;
    padding-right: 0.25rem;
    font-size: 1.125rem;
    font-weight: 500;
    resize: none;	
    outline: none;
}

.enroll_Textarea_Wrapper .available_length {
	position: absolute;
    font-weight: 500;
    font-size: .75rem;
    --text-opacity: 1;
    color: #b6becc;
    color: rgba(182,190,204,var(--text-opacity));
    right: 16px;
    bottom: 14px;
}

.gray_color {
    font-size: .875rem;
    font-weight: 400;
    margin-top: 6px;
}
.gray_color {
	--text-opacity: 1;
    color: #b6becc;
    color: rgba(182,190,204,var(--text-opacity));
}

.gray_color img {
	display:inline;
}

.a-modal_backdrop {
	position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100vh;
    background-color: rgba(0,0,0,.6);
    z-index: -1;
}

.save {
    margin-top: 1.5rem;
    justify-content: center;
    display: flex;
}

.save_Button {
    width: 100%;
    --text-opacity: 1;
    color: #fff;
    color: rgba(255,255,255,var(--text-opacity));
    font-weight: 500;
    max-width: 200px;
    border-radius: 8px;
}

.save_Button {
    height: 56px;
}

.save_Button {
    background: #0206af;
}

.save_Button {
	max-width: 320px;
}

.row:after, .row:before {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

.stepperList {
    margin-bottom: 0;
    list-style-type: none;
}

.stepperList li {
	position: relative;
    padding-left: 37px;
}

.ripple {
    position: absolute;
    --bg-opacity: 1;
    background-color: #eee;
    background-color: rgba(238,238,238,var(--bg-opacity));
    position: absolute;
}


.ripple {
    z-index: 10;
    border-radius: 9999px;
    width: 14px;
    height: 14px;
    top: 7px;
    left: 0;
}

.text-font-base-medium {
	font-size: 1rem;
	font-weight: 500;
	font-weight: bold;
}

.text-font-sub-medium {
    --text-opacity: 1;
    color: #777c80;
    color: rgba(119,124,128,var(--text-opacity));
    margin-top: 0.25rem;
	font-size: .875rem;
    padding-top: 3px
}

button {
    cursor: pointer;
}

.profile_Editor {
	display: none;
}

input[type=file]{
	border : none;
	display: none;
}

.file-box {
	cursor : pointer;
	display : block;
	width: 200px;
	height: 50px;
	border-radius: 8px; 
	height: 48px;
	margin: 1rem auto 0;
	--bg-opacity: 1;
	background-color: #e8f0f9;
    background-color: rgba(232,240,249,var(--bg-opacity));
}

.file-box-span {
	padding-top: 14px;
}

.file-box-span span {
	font-weight: bold;
	--text-opacity: 1;
    color: #0f27d1;
    color: rgba(15,39,209,var(--text-opacity));
}


.profile-image {
	width: 140px;
	height: 140px;
	border-radius: 50%;
	margin : 0 auto;
}

.profile-image img {
	border-radius: 50%;
	width: 100%;
}


#hihorse {
    word-break: break-all;
    white-space: pre-line;
    vertical-align: middle;
    --text-opacity: 1;
    color: rgba(169,175,179,var(--text-opacity));
    margin-top: 1rem;
    margin-bottom: 0;
    font-size: .875rem;
	font-weight: 500;
}

