@charset "UTF-8";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Pdroject-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

input {
	outline: none;
}

* {
	margin: 0px;
	padding: 0px;
}

body {
    --tw-text-opacity: 1;
    color: rgba(28, 26, 24, var(--tw-text-opacity));
}

body {
    font-family: "Pretendard","Roboto",Helvetica,Arial,sans-serif;
}


*, label {
    font-family: "Pretendard","Roboto",Helvetica,Arial,sans-serif;
}

.TextField_bodyInput::placeholder{
    font-family: "Pretendard","Roboto",Helvetica,Arial,sans-serif;
}


body {
    --tw-text-opacity: 1;
    color: rgba(28, 26, 24, var(--tw-text-opacity));
}

body, body input {
    letter-spacing: -.038rem!important;
}

body {
    font-family: "Pretendard","Roboto",Helvetica,Arial,sans-serif;
}

body {
    font-family: inherit;
    line-height: inherit;
    background: #f3f5f9;
}

body {
    margin: 0;
}

*, ::before, ::after {
    --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
}

*, ::before, ::after {
    --tw-shadow: 0 0 #0000;
}

*, ::before, ::after {
    --tw-border-opacity: 1;
    border-color: rgba(230, 230, 230, var(--tw-border-opacity));
}

*, ::before, ::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
/*     border-color: currentColor; */
}

*, ::before, ::after {
    box-sizing: border-box;
}

button, [type='button'], [type='submit'] {
    -webkit-appearance: button;
}

body button {
    display: inline-flex;
    align-items: center;
}

button, input, optgroup, select, textarea {
    padding: 0;
    line-height: inherit;
    color: inherit;
}

button {
    cursor: pointer;
}

button {
    background-color: transparent;
    background-image: none;
}

button, select {
    text-transform: none;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button {
    appearance: auto;
    writing-mode: horizontal-tb !important;
/*     font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ; */
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

body {
    display: block;
    /* margin: 8px; */
}

div {
    display: block;
}

.layoutDefault {
    display: flex;
    height: 100%;
    width: 100%;border-color: currentColor;
    align-items: flex-start;
    justify-content: center;
}

/* @media (min-width: 768px) */
.layoutDefault {
    padding: 152px 0 80px;
    background: #f3f5f9;
}

.layoutDefault_view {
    height: 100%;
    width: 100%;
}

/* @media (min-width: 768px) */
.layoutDefault_view {
    margin: auto;
    border-radius: 0.25rem;
    max-width: 464px;
    max-height: 650px;
}

.loginEmail {
    height: 100%;
}

.loginEmail_form {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.w-full {
    width: 100%;
}

.theScreen {
    display: flex;
    height: 100%;
    flex-direction: column;
    border-radius: 8px;
    background: #fff;
}

/* @media (min-width: 768px) */
.theScreen {
    position: relative;
    border-width: 1px;
}

.theScreen_header {
    z-index: 10;
    display: flex;
    width: 100%;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    height: 44px;
    box-shadow: 0 1px 4px rgb(38 38 38 / 20%);
}

/* @media (min-width: 768px) */
.theScreen_header {
    position: absolute;
    --tw-shadow: 0 0 #0000;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    top: -68px;
}

.theScreen_headerButton.-left {
    left: 0px;
}

.theScreen_headerButton {
    position: absolute;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    line-height: 1;
    height: 44px;
}

/* @media (min-width: 768px) */
.theScreen_headerButton.-left {
    display: none;
}

.theScreen_headerLogo {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
}

.a_headerLogo {
	width: 93px;
    height: 51px;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.theScreen_body {
    height: 100%;
    overflow: auto;
    min-height: 344px;
    padding-top: 10vh;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* @media (min-width: 768px) */
.theScreen_body {
    padding-top: 40px;
}


.px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}


h1 {
    font-size: 1.5rem;
    line-height: 2rem;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
    margin: 0;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: -0.33em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.textTitle span {
    position: relative;
    font-size: 23px;
    letter-spacing: -3px;
}

.textTitle span:after {
    position: absolute;
    margin-left: 0.25rem;
    border-radius: 9999px;
    --tw-bg-opacity: 1;
    background-color: rgba(2, 6, 175, var(--tw-bg-opacity));
    content: "";
    width: 6px;
    height: 6px;
    bottom: 2px;
}

.theLoginEmail_bodyInput {
    margin-top: 29px;
    margin-bottom: 18px;
}

.TextField {
    display: block;
    padding-top: 0.5rem;
}

.TextField_label {
    display: block;
    text-align: left;
    /* font-size: 0.75rem; */
    font-size: 12px;
    line-height: 1rem;
    --tw-text-opacity: 1;
    color: rgba(34, 37, 43, var(--tw-text-opacity));
    margin-bottom: 1px;
}

label {
    cursor: default;
}

.TextField_body {
    position: relative;
    margin-bottom: 0.75rem;
    border-bottom-width: 1px;
    padding-bottom: 0.5rem;
}

.TextField_bodyInput {
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 1.75rem;
    line-height: 1;
    caret-color: #0206af;
    height: 28px;
}

.TextField_bodyButton {
    position: absolute;
    top: 0.25rem;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
}

button, [type='button'], [type='submit'] {
    -webkit-appearance: button;
}

/* 비밀번호 표시 이미지 */
.TextField_bodyButton.-off .icon {
    width: 22px;
    height: 15px;
}

/* .TextField_bodyButton의 속성을 그냥 넣어줬음 */
.eye1 {
    width: 21px;
    height: 19px;
    filter: invert(98%) sepia(3%) saturate(419%) hue-rotate(170deg) brightness(88%) contrast(89%);
     position: absolute;
    top: 0.25rem;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
}

.sprite-icons {
    width: 1em;
    height: 1em;
}

/*  */
.theScreen_footer {
    position: relative;
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    border-radius: 0 0 8px 8px;
}

.Button.-primary.-filled {
    border-color: transparent;
    --tw-bg-opacity: 1;
    background-color: rgba(2, 6, 175, var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
}		
.Button.-primary {
    --tw-border-opacity: 1;
    border-color: rgba(86, 130, 239, var(--tw-border-opacity));
    --tw-text-opacity: 1;
    color: rgba(2, 6, 175, var(--tw-text-opacity));
}
.Button.-large {
    font-size: 1rem;
    line-height: 1.5rem;
    height: 56px;
    font-weight: bold;
    
}

.Button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border-width: 1px;
    font-weight: 500;
    letter-spacing: -0.038rem!important;
}

.Button.-transparent {
    border-color: transparent;
    background-color: transparent;
}

.mt-2 {
    margin-top: 0.5rem;
}

.close-eye {
    background-image: url('../assets/img/member/passwordEyeSlash.png');
    width: 21px;
    height: 19px;
    filter: invert(98%) sepia(3%) saturate(419%) hue-rotate(170deg) brightness(88%) contrast(89%);
    position: absolute;
    top: 0.25rem;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    cursor: pointer;
}